{% extends 'base.html' %}

{% block title %}Список заказов{% endblock %}

{% block content %}
    <div class="default-wrap">
        <div class="orders-wrap">
            <span>История заказов</span>
            <ul>
                {% for order in data.orders %}
                    {% include 'order_element.html' with elem=order %}
                {% empty %}
                    <li>Список пуст</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}